backend/src/main/resources/xsd/pacs.008.001.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.10"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.10"
           elementFormDefault="qualified">

    <xs:element name="Document" type="Document"/>

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV10"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FIToFICustomerCreditTransferV10">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader93"/>
            <xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation26" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupHeader93">
        <xs:sequence>
            <xs:element name="MsgId" type="xs:string"/>
            <xs:element name="CreDtTm" type="xs:dateTime"/>
            <xs:element name="NbOfTxs" type="xs:string"/>
            <xs:element name="TtlIntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="xs:date"/>
            <xs:element name="SttlmInf" type="SettlementInstruction7"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreditTransferTransactionInformation26">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification6"/>
            <xs:element name="PmtTpInf" type="PaymentTypeInformation28" minOccurs="0"/>
            <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="ChrgBr" type="ChargeBearerType1Code"/>
            <xs:element name="Dbtr" type="PartyIdentification135"/>
            <xs:element name="DbtrAcct" type="CashAccount38"/>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Cdtr" type="PartyIdentification135"/>
            <xs:element name="CdtrAcct" type="CashAccount38"/>
            <xs:element name="RmtInf" type="RemittanceInformation16" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentIdentification6">
        <xs:sequence>
            <xs:element name="InstrId" type="xs:string" minOccurs="0"/>
            <xs:element name="EndToEndId" type="xs:string"/>
            <xs:element name="TxId" type="xs:string" minOccurs="0"/>
            <xs:element name="UETR" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="SLEV"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element name="Nm" type="xs:string" minOccurs="0"/>
            <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
            <xs:element name="Id" type="Party38Choice" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CashAccount38">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SettlementInstruction7">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
            <xs:element name="SttlmAcct" type="CashAccount38" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="INGA"/>
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Simplified types for brevity -->
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element name="Ctry" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element name="AnyBIC" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="xs:date"/>
            <xs:element name="PrvcOfBirth" type="xs:string" minOccurs="0"/>
            <xs:element name="CityOfBirth" type="xs:string"/>
            <xs:element name="CtryOfBirth" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="xs:string"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="BICFI" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RemittanceInformation16">
        <xs:sequence>
            <xs:element name="Ustrd" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentTypeInformation28">
        <xs:sequence>
            <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>