backend/src/main/resources/xsd/pacs.002.001.12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.12"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.12"
           elementFormDefault="qualified">

    <xs:element name="Document" type="Document"/>

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV12"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FIToFIPaymentStatusReportV12">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader96"/>
            <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation29" maxOccurs="unbounded"/>
            <xs:element name="TxInfAndSts" type="PaymentTransaction110" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupHeader96">
        <xs:sequence>
            <xs:element name="MsgId" type="xs:string"/>
            <xs:element name="CreDtTm" type="xs:dateTime"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OriginalGroupInformation29">
        <xs:sequence>
            <xs:element name="OrgnlMsgId" type="xs:string"/>
            <xs:element name="OrgnlMsgNmId" type="xs:string"/>
            <xs:element name="OrgnlCreDtTm" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="OrgnlNbOfTxs" type="xs:string" minOccurs="0"/>
            <xs:element name="OrgnlCtrlSum" type="xs:decimal" minOccurs="0"/>
            <xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0"/>
            <xs:element name="StsRsnInf" type="StatusReasonInformation12" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentTransaction110">
        <xs:sequence>
            <xs:element name="StsId" type="xs:string" minOccurs="0"/>
            <xs:element name="OrgnlInstrId" type="xs:string" minOccurs="0"/>
            <xs:element name="OrgnlEndToEndId" type="xs:string" minOccurs="0"/>
            <xs:element name="OrgnlTxId" type="xs:string" minOccurs="0"/>
            <xs:element name="TxSts" type="TransactionIndividualStatus5Code" minOccurs="0"/>
            <xs:element name="StsRsnInf" type="StatusReasonInformation12" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="OrgnlTxRef" type="OriginalTransactionReference28" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TransactionGroupStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACSP"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="PDNG"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransactionIndividualStatus5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACSC"/>
            <xs:enumeration value="ACSP"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="PDNG"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="StatusReasonInformation12">
        <xs:sequence>
            <xs:element name="Orgtr" type="PartyIdentification135" minOccurs="0"/>
            <xs:element name="Rsn" type="StatusReason6Choice" minOccurs="0"/>
            <xs:element name="AddtlInf" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StatusReason6Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code"/>
            <xs:element name="Prtry" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="ExternalStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DS01"/>
            <xs:enumeration value="DS02"/>
            <xs:enumeration value="DS03"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OriginalTransactionReference28">
        <xs:sequence>
            <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount" minOccurs="0"/>
            <xs:element name="Amt" type="AmountType4Choice" minOccurs="0"/>
            <xs:element name="IntrBkSttlmDt" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AmountType4Choice">
        <xs:choice>
            <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="EqvtAmt" type="EquivalentAmount2"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="EquivalentAmount2">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Reusing types from pacs.008 for consistency -->
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="BICFI" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element name="Nm" type="xs:string" minOccurs="0"/>
            <xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0"/>
            <xs:element name="Id" type="Party38Choice" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element name="Ctry" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element name="AnyBIC" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="xs:date"/>
            <xs:element name="PrvcOfBirth" type="xs:string" minOccurs="0"/>
            <xs:element name="CityOfBirth" type="xs:string"/>
            <xs:element name="CtryOfBirth" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>